<section class="contact-section">

  <h2>Contact Us</h2>

  <p class="blurb">{{ site.contact.blurb }}</p>

  <div class="contact-wrapper">
    <img class="avatar" src="/assets/img/{{ site.contact.avatar }}">
    <div class="details">
      <p class="space"><strong>{{ site.contact.name }}</strong></p>
      <p>{{ site.contact.job }}</p>
      <p class="space">{{ site.contact.mobile }}</p>
      <p><a href="mailto:{{ site.contact.email }}">{{ site.contact.email }}</a></p>
      <p>Skype: <em>{{ site.contact.skype }}</em></p>
    </div>
  </div>

  <p class="blurb2"><em>{{ site.contact.blurb2 }}</em></p>

</section>